html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #240c11;
    color: white;
}

textarea,
button,
select {
    display: block;
    background-color: #1a1a1d;
    color: white;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}

select {
    width: 10rem;
}

.tool {
    max-width: 50rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

button {
    width: 15rem;
    height: 3rem;
}